<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Delete</title>
    <link rel='stylesheet' href='../public/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body>
    <nav class="navbar navbar-default navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Search</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">Home</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/load">Add</a></li>
          <li><a href="/delete">Delete</a></li>
        </ul>
      </div>
    </nav>
    <div class="container">
      <h2> Provide the following information to delete </h3>
        <h4>Please give field name as "fname", "lname" or "email" for respective query</h4>
      <form action="/delete/remove" method="GET" class="form-horizontal">
        <div class="form-group">
          <label>Field : </label>
          <input type="text" name="field" class="form-control" placeholder="Field"></input>
        </div>
        <div class="form-group">
          <label>Attribute :</label>
          <input type="text" name="attr" class="form-control" placeholder="Attribute"></input>
        </div>
        <div class="form-group">
          <input type="submit" class="btn btn-default" value="Delete"></input>
        </div>
    </form>
  </div>
  </body>
</html>
