<!DOCTYPE html>
<html>
  <head>
    <title>Robosof</title>
    <link rel='stylesheet' href='../public/stylesheets/style.css' />
  </head>
  <body>
    <a href="/load">ADD</a>
    <h1>Search</h1>
    <form action="/search" method="GET">
      <input type="text" name="q" placeholder="Search"></input>
      <input type="submit" value="submit"></input>
    </form>

  </body>
</html>
