<!DOCTYPE html>
<html>
  <head>
    <title>Add</title>
    <link rel='stylesheet' href='../public/stylesheets/style.css' />
  </head>
  <body>
    <h1>Add your name</h1>
    <form action="/load/add" method="GET">
      <input type="text" name="first" placeholder="First name"></input>
      <input type="text" name="last" placeholder="Last name"></input>
      <input type="email" name="email" placeholder="Email"></input>
      <input type="submit" value="submit"></input>
    </form>
  </body>
</html>
