<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Success</title>
    <link rel='stylesheet' href='../public/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <h1>Transaction successful</h1>
      <div class="form-group"><a href="/load"><input type="button" class="btn btn-default btn-inverse" value="Add More"></input></a></div>
      <div class="form-group"><a href="/delete"><input type="button" class="btn btn-default btn-inverse" value="Delete More"></input></a></div>
      <div class="form-group"><a href="/"><input type="button" class="btn btn-default btn-inverse" value="Search"></input></a></div>
    </div>
  </body>
</html>
